@import url(http://fonts.googleapis.com/css?family=Dosis);
*{
	margin : 0 auto;
	font-family: 'Dosis', sans-serif;
}

body{
	background: #d7ad57;
}

#panel{
	background: #fff;
	width: 800px;
	height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -270px;
	margin-left: -420px;
	border:20px solid #ffcc33;
}
#postPanel{
	z-index: -1;
	width: 800px ;
	height: 500px;
}

.post{
	position: absolute;
	text-align: center;
	height: 150px;
	box-shadow: 0 2px 2px 2px rgba(20%,20%,40%,0.5);
	word-break:break-all;
	white-space:normal;
	overflow:hidden;
	width: 150px;
}
.post:hover{
	z-index: 10;
}

/* 新增便利貼操作面板 */
#new_post{
	position: absolute;
	background: #cc3333;
	border-radius: 100px 0 100px 100px;
	width: 100px;
	height: 100px;
	top:0%;
	left:100%;
	text-align: center;
	margin-left:-100px;
	-webkit-transition: all 0.5s;
}
#new_post:hover{
	z-index: 10;
	background: #a52637;
	color: #fff;
	width: 200px;
	height: 200px;
	border-radius: 200px 0 200px 200px;
	margin-left: -200px;
    -webkit-transition: all 0.5s;
}
#new_post h3{
	position: absolute;
	margin: 0 5px;
	color: #FFF;
	top: 50%;
	margin-top: -25px;
}
#new_post:hover h3{
	display: none;
}
#new_post:hover label,#new_post:hover input,#new_post:hover button,#new_post:hover select{
	display: inline-block;
}
#new_post label,#new_post input,#new_post button,#new_post select{
	display: none;
	margin-top: 20px;
}
/*新增便利貼操作面板END*/


/* 其他操作面板 */
#option_panel{
	position: absolute;
	background: #a67f48;
	border-radius: 100px 100px 0 100px;
	width: 100px;
	height: 100px;
	bottom:0%;
	left:100%;
	text-align: center;
	margin-left:-100px;
	-webkit-transition: all 0.5s;
}
#option_panel h3{
	position: absolute;
	color: #FFF;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	margin-left:-35px; 
}
#option_panel:hover h3{
	display: none; 
}
#option_panel:hover{
	z-index: 10;
	background: #593c1c;
	width: 200px;
	height: 200px;
	border-radius: 200px 200px 0 200px;
	margin-top: 0px;
	margin-left: -200px;
    -webkit-transition: all 0.5s;
}
#option_panel:hover button{
	display: inline-block;
	margin-top: 25%;
}
#option_panel button{
	outline: none;
	display: none;
}
/* 其他操作面板END */

#trash_can{
	position: absolute;
	text-align: center;
	color: #666;
	width: 150px;
	height: 150px;
	border: 5px dashed #666;
	top: 50%;
	left:0;
	margin-left: -180px;
	margin-top: -75px;
	line-height: 150px;
}

/*edit control panel*/
#edit{
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	color: #FFF;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	background: #445566;
	opacity: 0.5;
}
#editbg{
	position: absolute;
	margin: 0 auto;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:rgba(0%,0%,0%,0.8);
	display: none;
}
#editpanel{
	padding: 20px 20px;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	width: 300px;
	height: 400px;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	background:#ccc;
	box-shadow:inset -10px -10px 0 10px rgba(20%,20%,40%,0.5),inset 10px 10px 0 10px rgba(100%,100%,100%,0.5); 
}
#close{
	margin-top: 200px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #c33;
}
#finish{
	margin-top: 200px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #336699;
}
/*edit control panel End*/

#deleteAllRecord{
	background: #a67f48;
	width: 100px;
	height: 100px;
	border-radius: 100px;
}

.swing{
	-webkit-animation-name:'swing';
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 0.3s;
}

@-webkit-keyframes swing {
	0% {
		transform: rotate3d(0,0,1,0deg);
	}
	20%{
		transform: rotate3d(0,0,1,10deg);
	}
	40%{
		transform: rotate3d(0,0,1,-10deg);
	}
	60%{
		transform: rotate3d(0,0,1,10deg);
	}
	80%{
		transform: rotate3d(0,0,1,-10deg);
	}
	100% {
		transform: rotate(0,0,1,0deg);
	}
}