html,body{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-image: url(../pic/bg-01.png);
    background-size: 100%;
    background-attachment: fixed;
    /*background: #e9eaed;*/
    /*background: #fff;*/
}
.timeline{
    margin: 0px auto;
    margin-top: 185px;
    position: absolute;
    left: calc(50% - 510px/2);
}

.banner{
    background-image: url(../pic/banner.jpg);
    position: fixed;
    z-index: 10;
    width: 810px;
    height: 185px;
    left: calc(50% - 810px/2);
    margin-top: -22px;
    box-shadow: 0px 0px 30px #fff;
}

.search{
    float:none;
    position: fixed;
    z-index: 11;
    margin-left:540px;
    margin-top: 150px;
    background: #fff;
    border: 1px solid #899bc1;
    border-top-color: #6d84b4;
    display: inline-block;
    width: 200px;
    height: 27px;
}
input{
    border: 0;
    margin: 0 22px 0 5px;
    outline: none;
    padding: 1px 5px 1px 1px;
}


.submit{
    background-image: url(../pic/button.png);
    background-repeat: no-repeat;
    background-size: 502px 224px;
    background-position: -120px -176px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
    display: block;
    height: 19px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    margin-top:3px;
}

.timelineUnitContainer {
    background-color: #fff;
    border: 1px solid #d3d6db;
    -webkit-border-radius: 3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow: #d3d6db 0px 1px 0px;    
    -moz-box-shadow: #d3d6db 0px 1px 0px;    
    box-shadow: #d3d6db 0px 1px 0px;     
    margin-bottom: 12px;
    padding: 12px;
    width: 486px;
    margin-left: calc(50% - 243px - 13px);
    /*position: relative;*/
}
.head{
    border-bottom: 1px solid #e5e5e5;
    border: 0;
    margin: 0 0 15px;
    padding: 0;
}

.name{
    display: table-cell;
    vertical-align: top;
    width: 10000px;
}

.icon{
    -webkit-border-radius: 2px;
    height: 40px;
    margin-right: 1px;
    width: 40px;
    float: left;
    margin-right: 8px;
}
.detailicon{
    -webkit-border-radius: 2px;
    height: 50px;
    width: 50px;
    float: right;
    /*margin-top: -10px;*/
    margin-bottom:-40px;
}

.light{
    /*font-weight: bold;*/
    background-color:#6d84b4;
    color:#ffffff;
}
.title{
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    margin: 4px 0px 1px 0;
    color: #3b5998;
    cursor: pointer;
    text-decoration: none;
}
.time{
    font-size: 13px;
    color: #9197a3;
    line-height: 15px;
    cursor: pointer;
    text-decoration: none;
}

.detail{
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 15px;
    word-wrap:break-word; 
}

.pic{
 margin-bottom: 8px;
}

.outsidelink{
    background: #f6f7f8;
    border: 1px solid #d8deea;
    display: block;
    margin-bottom: 12px;
    padding: 8px 11px;
    overflow:hidden
}

.linkpic{
    float:left;
    margin-right:12px;
    margin-bottom:5px;
}

.linktitle{
    font-weight: bold;
    color: #3b5998;
    font-size: 12px;
    cursor: pointer;
}

.link{
    font-size: 13px;
    color: #9197a3;
}
.linkdetail{
    font-size: 13px;
    color: #9197a3;
    margin-top: 8px;
}

.likebar{
    width: 510px;
    margin-left: -12px;
    margin-bottom: -12px;
    border-top: 1px solid #e9eaed;
    background-color: #f6f7f8;
    line-height: 24px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 13px;
}

.like{
    margin-left:8px;
}

a{
    color: #3b5998;
}

#report{
    position: fixed;
    font-size: 10px;
    top:98%;
    left:93%;
    color: #fff;
    text-decoration:underline;
    cursor: pointer;
}

#Help{
    position:absolute;
    background-image: url(../pic/searchHelp_clip.png);
    background-position: 0px 0px;
    margin-top:200px;
    left: calc(50% - 870px/2);
    height: 500px;
    width: 810px;
}


/*phone RWD */
@media (max-width: 1024px) {
    html,body{
        width: 100%;
        height: auto;
        margin: 0 auto;
        background-image: url(../pic/bg-01.png);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-attachment: fixed;
    }
    .search{
        float: none;
        position: fixed;
        z-index: 11;
        margin-left: 200px;
        margin-top: 150px;
        background: #fff;
        border: 1px solid #899bc1;
        border-top-color: #6d84b4;
        display: inline-block;
        width: 200px;
        height: 27px;
        text-align: center;
    }
    input{
        border: 0;
        margin: 0 22px 0 5px;
        outline: none;
        padding: 1px 5px 1px 1px;
    }
    .banner{
        background-image: url(../pic/banner.jpg);
        position: fixed;
        z-index: 10;
        width: 550px;
        height: 185px;
        left: calc(50% - 550px/2);
        margin-top: -22px;
        box-shadow: 0px 0px 30px #fff;
    }
    #Help{
        position:absolute;
        background-image: url(../pic/searchHelp_clip_phone.png);
        background-position: 0px 0px;
        margin-top:100px;
        left: calc(50% - 740px/2);
        height: 500px;
        width: 500px;
    }
}
